.FIcljETPRj {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
}

.KiPZH0bFr1 {
  width: 100%;
  max-width: 600px;
  overflow-y: auto;
}

@media only screen and (max-width: 400px) {
  .FIcljETPRj {
    padding: 0;
    align-items: flex-end;
    justify-content: end;
  }

  .KiPZH0bFr1 {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
